# Artefatti di simulazione
sim/work/
*.ghw
*.vcd
*.cf
*.o
work-obj*.cf

# Tool FPGA/CPLD
*.jou
*.log
*.bak
db/
incremental_db/
output_files/

# .NET / C# (GUI di test)
bin/
obj/
.vs/
*.user

# ESP-IDF
build/
sdkconfig
sdkconfig.old
